/** left aside **/

aside {
    width: 200px;
    float: left;
}

/* login */

aside #login_box {
    width: 190px;
    height: 120px;
    border: solid 1px #dddddd;
    border-radius: 10px;
    background-color: #f3f3f3;
    margin-bottom: 15px;
}

aside #input_button {
    margin: 10px 0 0 10px;
}

aside #login_title {
    margin: 0 0 10px 10px;
}

aside #login_input {
    float: left;
}

aside #login_input input {
    width: 100px;
    height: 20px;
    border: solid 1px #dddddd;
}

aside #login_input li {
    margin: 2px 0 0 0;
}

aside #login_btn {
    float: left;
    margin: 0 0 0 5px;
}

aside #join_search {
    margin: 60px 0 0 6px;
}

aside #guestbook {
    width: 190px;
    height: 140px;
    border: solid 1px #cccccc;
    border-radius: 10px;
    background-color: #eeeeee;
    box-shadow: 2px 2px 5px #dddddd;
}

aside #guestbook li {
    margin: 5px 0 0 0;
    list-style-image: url("../img/icon_blue.gif");
}

aside #guestbook ul {
    margin: 10px 0 0 40px;
}

aside #guestbook_title {
    width: 165px;
    margin: 0 0 0 10px;
    border-bottom: solid 1px #cccccc;
    padding: 10px 0 0 5px;
}

/* sub_menu */

aside #sub_menu {
    width: 190px;
    height: 320px;
    margin: 15px 0 0 0;
    background-image: url("../img/sub_menu_bg.png");
    background-repeat: no-repeat;
    /* border: solid 1px red; */
}

aside #sub_menu ul {
    padding: 80px 0 0 30px;
}

aside #sub_menu li {
    margin-top: 10px;
}

aside #sub_banner {
    width: 180px;
    height: 160px;
    margin-top: 15px;
    border: solid 1px #cccccc;
    padding: 5px 0 0 5px;
    border-radius: 10px;
}