main {
    width: 770px;
    float: right;
}

main #notice_free_youtube {
    position: relative;
    height: 250px;
    margin: 10px 0 10px 0;
    /* border: solid 1px red; */
}

main #notice {
    position: absolute;
    width: 370px;
}

main .latest_title {
    padding: 0 0 3px 0;
    border-bottom: solid 1px #cccccc;
}

main .latest_title .latest_img {
    float: left;
}

main .latest_title .more {
    float: right;
}

main .latest_content .book_img {
    float: left;
    margin: 10px 0 0 20px;
}

main .latest_content .list {
    float: right;
}

main .latest_content .list div {
    float: left;
}

main .latest_content .list .subject {
    width: 170px;
}

main .latest_content li {
    padding: 10px 0 10px 0;
}

main #free {
    position: absolute;
    top: 130px;
    width: 370px;
}

main #youtube {
    position: absolute;
    left: 380px;
    width: 370px;
    /* border: solid 1px blue; */
}

main #youtube_img {
    margin: 10px 0 0 50px;
}

/* Gallery */

main #gallery_box {
    width: 740px;
    height: 205px;
    border: solid 1px #cccccc;
    border-radius: 10px;
    margin: 10px 0 0 10px;
    box-shadow: 2px 2px 5px #dddddd;
}

#gallery .items {
    float: left;
    margin: 0 0 0 40px;
    text-align: center;
}

main #gallery_list {
    padding: 25px 0 0 15px;
}